{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Cipher.css' %}">
    <link rel="stylesheet" type="text/css" href="../../static/css/Cipher.css">
</head>
<body>
    <h1>Cipher Project</h1>
    <b>A site for encrypting and decrypting messages</b>
    <fieldset>
        <legend>Encryption</legend>
        <div class="encrypt">
            <p>
                <label>Enter data to be encrypted:</label>
                <input type="text" id="en_data" value="Enter text here" />
            </p>
            <p>
                <label>Enter key for scrambling:</label>
                <input type="text" id="key" value="Enter key here" /></p>

        </div>
    </fieldset>
	<input type='button' id='submit' value='Encrypt'>
	<label id='cipher-label' value='cipher' name='cipher'>CIPHER</label>
	<select id='cipher' name='cipher'>
		<option value='ceasarcipher'>Ceasar Cipher</option>
		<option value='MD5'>MD5</option>
		<option value='RSA'>RSA</option>
	</select>
    <fieldset>
        <legend>Decryption</legend>
        <div class="decrypt">
                <p>
                    <label>Enter data to be decrypted:</label>
                    <input type="text" id="de_data" value="Enter text here" />
                </p>
                <p>
                    <label>Enter key for descrambling:</label>
                    <input type="text" id="key" value="Enter key here" /></p>
    
            </div>
    </fieldset>
<h1></h1>
</body>
</html>

